<% @cohorts.each do |cohort| %>
  <tr id="cohort<%= cohort.id %>">
    <td>
      <%= cohort.id %>
    </td>
    <td>
      <%= cohort.name.upcase %>
    </td>
    <td>
      <%= cohort.start_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <%= cohort.end_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
     <h1> <%= cohort.user_id %></h1> 
    </td>
    <td> 
      <span><%= link_to '', edit_cohort_path(cohort), id: "edit_#{cohort.id}", class: "fas fa-pencil-alt index-icons" %></span>
    </td>
    <td>
      <%= link_to(cohort_path(id: cohort.id), method: :delete, remote: true) do %> <i class="fas fa-trash-alt index-icons"></i>
      <% end %>
    </td>
    <td>
      
    </td> 
    <td>
      <span><%= link_to '', cohort_path(cohort), class: "fas fa-folder-open index-icons" %></span>
    </td>  
  </tr>
  <% end %>
      