
  <tr>
    <td>
      <%= cohort.id %>
    </td>
    <td>
      <%= cohort.name %>
    </td>
    <td>
      <%= cohort.start_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <%= cohort.end_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <%= cohort.instructor %>
    </td>
    <td> 
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Edit', edit_cohort_path(cohort), id: "edit_#{cohort.id}" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Delete', cohort_path(cohort), method: :delete, id: "#{cohort.id}" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%# <%= link_to 'Students', students_path %> %>
        </div>
      </div>
    </div>
  </tr>
      