
  <tr>
    <td>
      <%= cohort.id %>
    </td>
    <td>
      <%= cohort.name.upcase %>
    </td>
    <td>
      <%= cohort.start_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <%= cohort.end_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
     <%# <h1> <%= cohort.user.first_name %> </h1> %>
    </td>
    <td> 
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Edit', edit_cohort_path(cohort), id: "edit_#{cohort.id}", class: 'glyphicon glyphicon-pencil index-icons' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= link_to '', cohort_path(cohort), method: :delete, id: "#{cohort.id}", class: 'glyphicon glyphicon-trash index-icons' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Create New', new_cohort_path(cohort), id: "#{cohort.id}", class: 'glyphicon glyphicon-plus index-icons' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%# <%= link_to 'Students', users_path(users), id: "#{cohort.id}", class: 'glyphicon glyphicon-folder-open index-icons' %> %>
        </div>
      </div>
    </div>
  </tr>
      