
  <tr>
    <td>
      <%= cohort.id %>
    </td>
    <td>
      <%= cohort.name.upcase %>
    </td>
    <td>
      <%= cohort.start_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <%= cohort.end_date.strftime("%d/%m/%Y") %>
    </td>
    <td>
     <%# <h1> <%= cohort.users.first_name %>  </h1> %>
    </td>
    <td> 
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <span><%= link_to '', edit_cohort_path(cohort), id: "edit_#{cohort.id}", class: 'glyphicon glyphicon-pencil index-icons' %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span><%= link_to '', cohort_path(cohort), method: :delete, id: "#{cohort.id}", class: 'glyphicon glyphicon-trash index-icons' %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
           <span><%= link_to '', new_cohort_path(cohort), id: "#{cohort.id}", class: 'glyphicon glyphicon-plus index-icons' %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        
          <button class="btn"><a href="<%= '_cohortS'%>">
          Students</a>
          </button>
        </div>
      </div>
    </div>
  </tr>
      