
<%= form_for @cohort, class: "form-horizontal" do |c| %>
  <% if @cohort.errors.any? %>
  <% @cohort.errors.full_messages.each do |error| %>
  <%= js add_gritter(error, title: "School App Notification", sticky: false) %>
  <% end %>
<% end %>

  <div class="form-group">   
    <%= c.label :name, class: "col-sm-2 control-label" %>
    <%= c.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">   
    <%= c.label :start_date, class: "col-sm-2 control-label" %>
    <%= c.date_field :start_date, class: "form-control" %>
  </div>
  <div class="form-group">   
    <%= c.label :end_date, class: "col-sm-2 control-label" %>
    <%= c.date_field :end_date, class: "form-control" %>
  </div>
  <div class="form-group">   
    <%= c.label :instructor, class: "col-sm-2 control-label" %>
    <%# <%= c.text_field :user.full_name, class: "form-control" %> %>
  </div>
  <button type="submit" class="btn btn-warning btn-lg btn-block">
    Save
  </button>

<% end %>