<h2>Students</h2>

<% @cohort.users.each do |user| %>
<div class="container-fluid profile-info">
  <div class="row media">
    <div class="col-md-2">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag(user.email, size: "66", class: "photo") %>
        </a>
      </div>
    </div>
    <div class="col-md-9 profile-info">
      <p><span>Name: </span><%= user.full_name %></p>
      <p><span>Age: </span><%= user.age %></p>
      <p><span>Education: </span><%= user.education %></p>
      <div class="row">
        <div class="col-md4">
          <span><%= link_to 'Edit', id: "edit_#{user.id}", class: 'glyphicon glyphicon-pencil index-icons' %></span>
          <button class="btn btn-warning btn-md"><%= link_to 'Delete' %></button>
          <button class="btn btn-warning btn-md"><%= link_to 'Add' %></button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
