<hr class="bg-warning"><h2>Students</h2><hr class="bg-warning">
<%# <%= form_for @users, class: "form-horizontal" do |c| %>
  <div class="form-group">   
    <%# <%= @users.label :user_id, class: "col-sm-2 control-label" %>
    <%# <%= @users.select :user, options_for_select(@users, @user_id), class: "form-control" %> 
    <% puts @cohort_user%>
    <%puts "!!!!!!!!!!!"%>
    <%= form_with model: @cohort_user do |form| %>
      <%= form.select(:users_ids, options_for_select(@users), 
        { prompt: 'Add Students'}
        ) %>
      <%= form.hidden_field :cohort_id, value: @cohort.id %>
      <%= form.submit%>
    <% end %> 


  </div>
<%# <% end %> %>
<% @cohort.users.each do |user| %>
<div class="container-fluid ml-4 mt-1">
  <div class="row media">
    <div class="col-md-2">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag(user.email, size: "66", class: "photo") %>
        </a>
      </div>
    </div>
    <div class="col-md-9 profile-info ml-5">
      <p><span>Name: </span><%= user.full_name %></p>
      <p><span>Age: </span><%= user.age %></p>
      <p><span>Education: </span><%= user.education %></p>
      <div class="row">
        <div class="col-md4">
          <span class='glyphicon glyphicon-pencil cohort-icons mr-5'><%= link_to '', id: "#{user.id}" %></span> 
          <span class='glyphicon glyphicon-trash cohort-icons mr-5'><%= link_to '' %></span>
          <span class='glyphicon glyphicon-plus cohort-icons'><%= link_to '' %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
