<hr class="bg-warning"><h2>Students</h2><hr class="bg-warning">

  <div class="form-group">    
    <%= form_with model: @cohort_user do |form| %>
      <%= form.select(:users_ids, options_for_select(@users), 
        { prompt: 'Add Students'}
        ) %>
      <%= form.hidden_field :cohort_id, value: @cohort.id %>
      <%= form.submit%>
    <% end %> 
  </div>

<% @cohort.users.each do |user| %>
<div class="container-fluid ml-4 mt-1">
  <div class="row media">
    <div class="col-md-2">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag(user.email, size: "66", class: "photo") %>
        </a>
      </div>
    </div>
    <div class="row col-md-6">
      <div>
        <p><span>Name: </span><%= user.full_name %></p>
        <p><span>Age: </span><%= user.age %></p>
        <p><span>Education: </span><%= user.education %></p>
    
      </div>
    </div>
    <div class="col-md-3">
      <span>
        <i class="fas fa-pencil-alt index-icons2"></i> 
        
        </span>
      <span>
        <%= link_to '', cohort_path(@cohort), remote: true, method: :delete, class: "fas fa-trash-alt index-icons", id: "#{user.id}", data: { confirm: 'Are you sure?' } %> 
      </span>
    </div>
  </div>
</div>
<% end %>
