
 <nav class="navbar navbar-expand-lg navbar-light  custom-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="<%= active?(root_path) %> nav-li">
      <%= link_to "Home", root_path, :class => 'text-white' %>
    </a>
      </li>
      <li class="nav-item">
       <a class="<%= active?(courses_path)%> nav-li">
        <%= link_to "Courses", courses_path, :class => 'text-white' %>
        </a>
      </li>
      <li class="nav-item">
        <a class="<%= active?(cohorts_path)%> nav-li">
          <%= link_to "Cohorts", cohorts_path, :class => 'text-white' %>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <div class="dropdown-divider"></div>
          <%= link_to "Admin Dashboard", admin_root_path %> 
        </div>
      </li>
    </ul>
  </div>
</nav>