<div class="logo">

</div>

<ul class="custom-nav nav nav-pills">
  <li class="<%= active?(root_path) %>">
    <%= link_to "Home", root_path %>
  </li>
  <li class="<%= active?(courses_path) %>">
     <%= link_to "Courses", courses_path %>
  </li>
  <li class="<%= active?(new_course_path) %>">
    <%= link_to "Add New Course", new_course_path, id: 'new_course_from_nav' %>
  </li>
  <%# <li class="<%= active?(cohorts_path) %>"> %>
     <%# <%= link_to "Cohorts", cohorts_path %> 
  </li>
  <li class="nav-item dropdown">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </a>
      <div class="dropdown-menu navbar-right" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "Edit User", edit_user_registration_path %>
        <a class="dropdown-item" href="#">Another action</a>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </div>
    </li>
  </li>
</ul>

