<div class="logo">

</div>

<ul class="custom-nav nav nav-pills">
  <li class="<%= active?(root_path) %>">
    <%= link_to "Home", root_path %>
  </li>
  <li class="<%= active?(courses_path) %>">
     <%= link_to "Courses", courses_path %>
  </li>
  <%# <li class="<%= active?(cohorts_path) %>"> %>
     <%# <%= link_to "Cohorts", cohorts_path %> 
  </li>
    <li class="dropdown pull-right">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
      <ul class="dropdown-menu">
        <%= link_to "Edit User", edit_user_registration_path %>
          
        <div class="dropdown-divider">
        </div> 
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </ul>
    </li>
  </li>
</ul>




