
<% if user_signed_in? %>

  <div class="row media profile-info">
    <div class="col-md-2">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag(@user.email, size: "75", class: "photo") %>
        </a>
      
      </div>
    </div>
    <div class="col-md-9 profile-info">
      <p><span>Name: </span><%= @user.full_name %></p>  
      <p><span>Age: </span><%= @user.age %></p>
      <p><span>Education: </span><%= @user.education %></p>
      <p><span>Salary: </span><%= @user.salary %></p>
      <div class="row">
        <div class="col-md4">
          <i class="far fa-pencil-alt"><%= link_to '', edit_static_path(@user)  %></i>
          <%= link_to 'edit', edit_static_path(@user)  %> 
          <i class="fas fa-trash-alt"><%= link_to '', new_static_path(@users) %></i>
          <span class='glyphicon glyphicon-plus cohort-icons'><%= link_to '', static_path(@user), method: :delete, id: "#{@user.id}", data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>
    </div>
  </div>

<% end %>
