
<%= form_for @user, class: "form-horizontal" do |c| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
    <%= js add_gritter(error, title: "School App Notification", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">   
    <%= c.label :First_Name, class: "col-sm-2 control-label" %>
    <%= c.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">   
    <%= c.label :Last_Name, class: "col-sm-2 control-label" %>
    <%= c.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">   
    <%= c.label :Age, class: "col-sm-2 control-label" %>
    <%= c.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">   
    <%= c.label :Education, class: "col-sm-2 control-label" %>
    <%= c.select :education, options_for_select([HS, College, Masters, PHD]), class: "form-control" %>
  </div>
  <% if params[:role] == 'student' %>
  <div class="form-group">   
    <%= c.label :Salary, class: "col-sm-2 control-label" %>
    <%= c.hidden_field :salary, class: "form-control" %>
  </div>
  <% end %>

<% end %>
