<% if user_signed_in? %>


  <div class="row media profile-info">
    <div class="col-md-2">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag(@user.email, size: "75", class: "photo") %>
        </a>
        <% if current_user.role == 'instructor' %> 
        <p><%= puts "Instructor" %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 profile-info">
      <p><span>Name: </span><%= @user.full_name %></p>  
      <p><span>Age: </span><%= @user.age %></p>
      <p><span>Education: </span><%= @user.education %></p>
      <p><span>Salary: </span><%= @user.salary %></p>
      <div class="row">
        <div class="col-md4">
          <span class='glyphicon glyphicon-pencil cohort-icons mr-5'><%= link_to '', edit_student_path(@user)  %></span> 
          <span class='glyphicon glyphicon-trash cohort-icons mr-5'><%= link_to '', new_student_path(@users) %></span>
          <span class='glyphicon glyphicon-plus cohort-icons'><%= link_to '', student_path(@user), method: :delete, id: "#{@user.id}", data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>
    </div>
  </div>

<% end %>
