
<% if user_signed_in? %>

  <div class="row media profile-info">
    <div class="col-md-2">
      <div class="media-left media-top">
        <a href="#">
          <%= image_tag(@user.email, size: "75", class: "photo") %>
        </a>
        <% if current_user.role == 'instructor' %> 
        <p><%= puts "Instructor" %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 profile-info">
      <p><span>Name: </span><%= @user.full_name %></p>  
      <p><span>Age: </span><%= @user.age %></p>
      <p><span>Education: </span><%= @user.education %></p>
      <p><span>Salary: </span><%= @user.salary %></p>
      <div class="row">
        <div class="col-md4">
          <span>
          <%= link_to edit_admin_admin_user_path(@user), id: "#{@user.id}" do %>
            <i class="fas fa-pencil-alt index-icons2"></i> 
          <%end%>
          </span>
          <span>
          <%= link_to admin_admin_user_path(@user), method: :delete, id: "#{@user.id}", data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash-alt index-icons2"></i> 
          <%end%>
          </span>
          
        </div>
      </div>
    </div>
  </div>

<% end %>
