
<% @users.each do |user| %>

<div class="row media">
  <div class="col-md-2">
    <div class="media-left media-top">
      <a href="#">
        <%= image_tag(user.email, size: "66", class: "photo") %>
      </a>
    </div>
  </div>
  <div class="col-md-10">
    <span>First Name: <%= user.first_name %></span>
    <span>Last Name: <%= user.last_name %></span>
    <span>Age: <%= user.age %></span>
    <span>Education: <%= user.education %></span>
    <span>Salary: <%= user.salary %></span>
  </div>
  <hr>
</div>
<% end %>