
<% @courses.each do |course| %>
  <tr>
    <td>
      <%=  course.id %>
    </td>
    <td>
      <%= link_to  course.name.upcase, course %>
    </td>
    <td>
      <%=  course.hours %>
    </td>
    <td>
      <%=  course.created_at.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <span><%= link_to '', course_path(course),id: "edit_#{course.id}", class: "glyphicon glyphicon-folder-open index-icons" %></span>
    </td>
    <td> 
      <span><%= link_to '', edit_course_path(course), id: "edit_#{course.id}", class: 'glyphicon glyphicon-pencil index-icons' %></span>
    </td> 
    <td>
      <span><%= link_to '', course_path(course), method: :delete, class: 'glyphicon glyphicon-trash index-icons', id: "#{course.id}", data: { confirm: 'Are you sure?' } %></span>
    </td>
  </tr>
<% end %>    