
  <tr>
    <td>
      <%= course.id %>
    </td>
    <td>
      <%= course.name %>
    </td>
    <td>
      <%= course.hours %>
    </td>
    <td>
      <%= course.created_at.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <%= current_user.first_name %>
    </td>
    <td> 
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <span class="label label-success"><%= link_to 'Edit', edit_course_path(course), id: "edit_#{course.id}" %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="label label-danger"><%= link_to 'Delete', course_path(course), method: :delete, id: "#{course.id}", data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>
    </div>
  </tr>
      