
<% @courses.each do |course| %>
  <tr id="course<%= course.id %>">
    <td>
      <%=  course.id %>
    </td>
    <td>
      <%= link_to course.name.upcase, course %>
    </td>
    <td>
      <%=  course.hours %>
    </td>
    <td>
      <%=  course.created_at.strftime("%d/%m/%Y") %>
    </td>
    <td> 
      <span><%= link_to '', edit_course_path(course), id: "edit_#{course.id}", class: "fas fa-pencil-alt index-icons" %></span>
    </td>  
    <td>
      <span><%= link_to '', course_path(course), remote: true, method: :delete, class: "fas fa-trash-alt index-icons", id: "#{course.id}", data: { confirm: 'Are you sure?' } %></span>
    </td>
    <td>
      <span><%= link_to '', course_path(course),id: "edit_#{course.id}", class: "fas fa-folder-open index-icons" %></span>
    </td>
  </tr>
<% end %>    