
  <tr>
    <td>
      <%= course.id %>
    </td>
    <td>
      <%= course.name %>
    </td>
    <td>
      <%= course.hours %>
    </td>
    <td>
      <%= course.created_at.strftime("%d/%m/%Y") %>
    </td>
    <td>
      <%= current_user.first_name %>
    </td>
    <td id="<%= "edit_#{course.id}" %>">
      <%= link_to 'Edit', edit_course_path(course) %>
    </td>
  </tr>