
  <tr>
    <td>
      <%= @course.name %>
    </td>
    <td>
      <%= @course.hours %>
    </td> 
    <td>
    </td>
    <td>
    </td>
    <tr class="tb-header">
      <th>
        Cohorts:
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
      <% @course.cohorts.each do |cohort| %>
    <tr>     
      <td>
        <h5><%= cohort.name %></h5>
      </td>
      <td>
      </td>
      <td>
        <%= link_to "", edit_course_path(@course), class: "glyphicon glyphicon-pencil index-icons" %>
      </td>
      <td>
        <%= link_to '', course_path(@course), method: :delete, class: 'glyphicon glyphicon-trash index-icons', id: "#{@course.id}", data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
      <% end %>
    <tr>
      <td>
        <%= link_to "Add New Cohort", new_cohort_path(@cohort), class: 'glyphicon glyphicon-plus index-icons btn btn-warning btn-lg' %>
      </td>
    </tr>
  </tr>
  
  


