
  <% @course.cohorts.each do |cohort| %>
    <tr>
      <td>
        <%= cohort.name %>
      </td>
      <td>
        <%= cohort.start_date %>
      </td>
      <td>
        <%= cohort.end_date %>
      </td>
      <td>
        <%= link_to "", edit_course_path(@course), class: "fas fa-pencil-alt index-icons" %>
      </td>
      <td>
        <%= link_to '', course_path(@course), method: :delete, class: "fas fa-trash-alt index-icons index-icons delete", id: "#{@course.id}", data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>

  


