<!DOCTYPE html>
<html>
  <head>
    <title>School2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Oleo+Script" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <%= render 'shared/nav' %>

          <%= yield %>
        </div>
      </div>
    </div>


    <%= render 'shared/alerts' %>

  </body>
</html>
