<!DOCTYPE html>
<html>
  <head>
    <title>School2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href=“//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css” rel=“stylesheet”>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <%= render 'shared/nav' %>

          <%= yield %>
        </div>
      </div>
    </div>


    <%= render 'shared/alerts' %>

    <% if flash[:alert] %>
      <%= js add_gritter(flash[:alert], title: "School App Notification", sticky: false) %>
    <% elsif flash[:error] %>
      <%= js add_gritter(flash[:error], title: "School App Notification", sticky: false) %>
    <% else %>
      <%= js add_gritter(flash[:notice], title: "School App Notification", sticky: false) %>
  </body>
</html>
